{% extends 'base.html' %}

{% block content %}

<div class="container-fluid d-flex flex-column justify-content-center align-items-center">
    <i class="fas fa-lock text-dark border border-dark rounded-circle p-4 mb-4" style="font-size: 4em;"></i>
</div>

<div class="container-fluid" style="width:50%">
    <form action="/change-password/{{current_user.id}}" method="post" class="my-6 d-flex flex-column align-items-center">
        <div class="form-group">
          <input type="password" name="old_password" placeholder="Old Password" id="email" class="form-control text-center" required/>
        </div>
        <div class="form-group">
          <input type="password" name="new_password" placeholder="New Password" id="password" class="form-control text-center" required/>
        </div>
        <div class="form-group">
            <input type="password" name="confirm_password" placeholder="Confirm Password" id="password" class="form-control text-center" required/>
          </div>
        <button type="submit" class="btn btn-primary">Change Password</button>
      </form>
</div>

{% endblock %}